/AIY_SIMULATION
/AVAL_SIMULATION
/RIM_SIMULATION
/VD5_SIMULATION
/VA5_SIMULATION
/VB6_SIMULATION
arm64
x86_64
/__pycache__
.DS_Store
/NeuroML/*.dat
/NeuroML/report.*.txt
/NeuroML/IClamp_AIY.json
/NeuroML/Sim_IClamp_AIY.json
/NeuroML/*.hoc
/NeuroML/*_nrn.py
/NeuroML/*.mod
/AVAR_SIMULATION
